body {
    background-color: aquamarine;
}

a:hover {
    text-decoration: none;
}

a {
    font-size: large;
    text-decoration: none;
    margin-right: 30px;
    color: black;
}

.active {
    margin-left: 50px;
    margin-right: 750px;
}

.topnav {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: white;
}

.column {
    padding-top: 30px;
    text-align: center;
}

.txt {
    padding: 50px;
}